<head data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">

<!--/* for css+js */-->
<meta data-sly-call="${clientLib.all @ categories='traininglib'}" data-sly-unwrap></meta>



<div class='trainingss'>
<p  >
hello vishnu from trainig1 <br>
</p>


<p style="background-color:powderblue">
Title: ${properties.title1}<br>
Text Area: ${properties.textArea}<br>
type: ${properties.type}<br>
link: ${properties.linkURL}<br>
checkbox: ${properties.checkbox1}<br>
password: ${properties.password}<br>
colorfield: ${properties.colorfield}<br>
datepicker: ${properties.datepicker}<br>
dropdown: ${properties.dropdown}<br>
title+textArea-linkURL ${traininigvaraiable.value}<br>

hello vishnu from trainig1 <br>

</p>


</div>

<input type="button" value="Click me" onclick="msg()">

