<head data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">

<!--/* for css+js */-->
<meta data-sly-call="${clientLib.all @ categories='traininglib'}" data-sly-unwrap></meta>


<div data-sly-use.var="${'com.adobe.aem.guides.vishnu.core.models.TrainingField4'}">
Text field used in Page : ${var.titleservices}

<br>Child Pages titles with String: ${var.pagesTraining}
<br>Child Pages titles with List: 
<br>
<div data-sly-list.item= ${var.titlesWithList}>
<b>${item}</b><br>
</div>
</div>